
@{
    ViewBag.Title = "StringInfo";
}

<h2>String information</h2>
    <div> The String : @ViewBag.theStr  </div>
    <div> Reverse : @ViewBag.reverseStr</div>
    <div> Upper : @ViewBag.upperStr </div>
    <div> Lower : @ViewBag.lowerStr </div>
    <div> Length : @ViewBag.length </div>
     


